.idea

# Copied and modified from ./symfony/.gitignore
/.env.local
/.env.local.php
/.env.*.local
/symfony/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/var/
/symfony/vendor/

/symfony/node_modules/
/symfony/public/build/
/symfony/npm-debug.log
/symfony/yarn-error.log

# Persistent database files
/mysql
