{% extends 'base.html.twig' %}

{% set title = 'Showing all persons' %}

{% block body %}

    {% for person in data %}

        <div>
            <span class="text-slate-400">{{ person.getId() }}</span>
            {{ person.getFirstName() }}
            {% if person.getLastName() is not empty and person.getLastName() is not null -%}
                {{ person.getLastName() }}
            {% endif %}
            <span class="text-slate-400">{{ person.getType() }}</span>
        </div>

    {% endfor %}

{% endblock %}
